<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul type="none">
            <li><a href="https://twitter.com"><i class="fa-brands fa-x-twitter fa-lg" style="color: #000000;"></i></a></li>
            <li><a href="https://facebook.com"><i class="fa-brands fa-square-facebook fa-lg" style="color: #000000;"></i></a></li>
            <li><a href="https://open.spotify.com/intl-es/album/4NMv3cMkDwkkR6EdLloQDB"><i class="fa-brands fa-spotify fa-lg" style="color: #000000;"></i></a></li>
            <li><a href="https://apple.com"><i class="fa-brands fa-apple fa-lg" style="color: #000000;"></i></a></li>
            <li><a href="https://amazon.com"><i class="fa-brands fa-amazon fa-lg" style="color: #000000;"></i></a></li>
            <li><a href="https://instagram.com"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a></li>
        </ul>
    </header>
    <section>
        <article>
        <h1> <br>ABOUT<br>EMILIA //</h1>
    <h3>"Seattle-based pop star makes her <br> indie debut with a hauntingly beautiful album"</h3>
    <h5> John Tirckle,
        Music Today Post</h5>
    </article>
        <article>
            <h3>"Emilia Cole is one of the <br> scene's breakout stars"</h3>
            <h5>- John Tirckle, Music Today Post </h5>
        </article>
    </section>
    <img src="img/emilia-about.jpg" alt="imagen de portada" width="100%">
</body>
</html>