<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul type="none">
            <li><a target="_blank" href="https://twitter.com"><i class="fa-brands fa-x-twitter fa-lg" style="color: #000000;"></i></a></li>
            <li><a target="_blank" href="https://facebook.com"><i class="fa-brands fa-square-facebook fa-lg" style="color: #000000;"></i></a></li>
            <li><a target="_blank" href="https://open.spotify.com/intl-es/album/4NMv3cMkDwkkR6EdLloQDB"><i class="fa-brands fa-spotify fa-lg" style="color: #000000;"></i></a></li>
            <li><a target="_blank" href="https://apple.com"><i class="fa-brands fa-apple fa-lg" style="color: #000000;"></i></a></li>
            <li><a target="_blank" href="https://amazon.com"><i class="fa-brands fa-amazon fa-lg" style="color: #000000;"></i></a></li>
            <li><a target="_blank" href="https://instagram.com"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a></li>
        </ul>
</header>
<section>
    <h2> <br>EMILIA<br>COLE //
    </h2>
    <h1>TWIST IN MY REALITY</h1>
</section>
</body>
</html>