    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MUSIC</title>
        <script
        src="https://kit.fontawesome.com/10af0335f4.js"
        crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <header id="GoTop">
        <img src="/img/emilia-music-top.jpg" alt="Imagen Top" />
        <nav>
            <ul type="none">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/music">MUSIC</a></li>
            <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul type="none">
            <li>
            <a href="https://twitter.com"
                ><i class="fa-brands fa-x-twitter fa-lg" style="color: #000000"></i
            ></a>
            </li>
            <li>
            <a href="https://facebook.com"
                ><i
                class="fa-brands fa-square-facebook fa-lg"
                style="color: #000000"
                ></i
            ></a>
            </li>
            <li>
            <a
                href="https://open.spotify.com/intl-es/album/4NMv3cMkDwkkR6EdLloQDB"
                ><i class="fa-brands fa-spotify fa-lg" style="color: #000000"></i
            ></a>
            </li>
            <li>
            <a href="https://apple.com"
                ><i class="fa-brands fa-apple fa-lg" style="color: #000000"></i
            ></a>
            </li>
            <li>
            <a href="https://amazon.com"
                ><i class="fa-brands fa-amazon fa-lg" style="color: #000000"></i
            ></a>
            </li>
            <li>
            <a href="https://instagram.com"
                ><i class="fa-brands fa-instagram fa-lg" style="color: #000000"></i
            ></a>
            </li>
        </ul>
        </header>
        <section>
        <h1>MUSIC //</h1>
        <h4>Direct Links</h4>
        <ul>
            <li><a href="#album">Album</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">Video: Street Light</a></li>
        </ul>
        <article>
            <h2 id="album">
            ALBUM <br />
            TWIST IN MY REALITY
            </h2>
            <img src="img/emilia-play-list.png" alt="imagen del album" />
            <ol>
            <li>Organic Love | 02:40</li>
            <li>Twist In My Reality | 02:10</li>
            <li>Street Light | 03:28</li>
            <li>Love Dont't Live Here Anymore (Cover) | 03:49</li>
            </ol>
        </article>
        <a class="GoTop" href="#GoTop">Go Top</a>
        <h2>VIDEO <br />ORGANIC LOVE</h2>
        <article id="video1">
            <iframe
            src="https://player.vimeo.com/video/135166028?h=fdb0646ae5"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            ></iframe>
            <p>
            Directed By VINCE MALC & EMILIA COLE<br />
            Edited and Filmed by NICOLAS TROY<br />
            Produced by NIKI HEART,<br />
            Wix Films LTD.
            </p>
        </article>
        <a class="GoTop" href="#GoTop">Go Top</a>
        <h2>
            VIDEO <br />
            STREET LIGHT
        </h2>
        <article id="video2">
            <iframe
            src="https://player.vimeo.com/video/134861419?h=24e3183108"
            width="640"
            height="360"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
            ></iframe>
            <p>
            Directed By VINCE MALC & EMILIA COLE<br />
            Edited and Filmed by NICOLAS TROY<br />
            Produced by NIKI HEART,<br />
            Wix Films LTD.
            </p>
        </article>
        <a class="GoTop" href="#GoTop">Go Top</a>
        </section>
    </body>
    </html>
