<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MUSIC</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul>
                <li><a href="/"></a>HOME</li>
                <li><a href=""></a>ABOUT</li>
                <li><a href="/music"></a>MUSIC</li>
                <li><a href="/contact"></a>CONTACT</li>
            </ul>
        </nav>
        <ul>
            <li><a href="">LINK</a></li>
            <li><a href="">LINK</a></li>
            <li><a href="">LINK</a></li>
            <li><a href="">LINK</a></li>
            <li><a href="">LINK</a></li>
            <li><a href="">LINK</a></li>
        </ul>
</header>
<section>
    <h4>Direct Links</h4>
    <ul>
        <li><a href="">Album</a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
</ul>
    <article><h2>ALBUM <br> TWIST IN MY REALITY</h2>
    <img src="img/emilia-play-list.png" alt="imagen del album"></article>
    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <article id="video1"><iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </article>
    <article id="video2"></article>
</section>
</body>
</html>