body{
    font-family: Arial, Helvetica, sans-serif;
}

ul li{
    display: inline-block;
    padding: 0px 1px;
    
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: green;
}

body{
    min-height: 100vh;
    background: url(/img/emilia-music-top.jpg)auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
